////
/// @group helpers
////

/// The default focus style used for elements like anchors and buttons. rounded version used for elements that have a border radius
/// @param {Boolean} $rounded whether to use box shadow for border (outline can't be styled to have radius corners)
/// @output the default focus styles ie background colour and outline
/// @since 0.1.0
@mixin nds-default-focus-style {
  // keeping the default in for backwards compatibility
  @include nds-focus-style;
}

@mixin nds-inverse-focus-style {
  // keeping the inverse in for backwards compatibility
  @include nds-focus-style;
}

@mixin nds-focus-style {
  background: $nds-colour-focus-background;
  box-shadow: 0 rem($nds-spacing-x-small) $nds-colour-nice-black;
  color: $nds-colour-nice-black;
  outline: none;
  text-decoration: none;
}

@mixin nds-focus-style-subtle {
  //box-shadow: 0 0 5px 0 black;
  outline: 5px solid #e59700;
}

@mixin nds-focus-style-pointer {
  //background: initial;
  //box-shadow: none;
  //color: inherit !important;
  outline: none;
}

@mixin nds-focus {
  // Where focus-visible is not supported
  &:focus {
    @include nds-focus-style-subtle;
  }
  //If focus-visible is supported
  //&:focus-visible {
  //  @include nds-focus-style;
  //}
  //////Any focus that is not focus-visible (like a mouse click)
  //&:focus:not(:focus-visible) {
  //  @include nds-focus-style-pointer;
  //}
}
